body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    /* Three columns with a minimum width of 100px */
    grid-gap: 20px;
    /* Gap between grid items */
}

.image-item {
    overflow: hidden;
    /* Ensure images do not overflow their containers */
}

.image-item img {
    width: 100%;
    /* Make images fill the container width */
    height: 500px;
    /* Maintain aspect ratio */
    object-fit: cover;
    
    /* Cover the container with the image, maintaining aspect ratio */
}